body{
    background-color:snow;
}

#question p{
    padding-top : 15px;
    padding-left: 45px;
    font-size: 1.25em;
}

#qImg{
    width : 100px;
    height : auto;
    position: absolute; 
    left : 0px;
    top : 0px;
    
}

#qImg img{
    width : 250px;
    height : auto;
    margin-top: 60px;
    margin-left: 65px;
    
}

#choices{
    width : 400px;
    position: absolute;
    left : 80px;
    top : 330px;
    padding : 10px
    
}
.choice{
    display: inline-block;
    width : 200px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
   margin-bottom: 10px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#progress{
    width : 300px;
    margin-top: 520px;
    padding-left: 70px;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}


@media only screen and (min-width: 768px){
    #question p{
        margin-left: 50px;
        font-size: 3rem;
    }

    #qImg img{
        width : 500px;
        height : auto;
        margin-top: 90px;
        margin-left: 130px;
        
    }

    #choices{
        width : 400px;
        
        left : 180px;
        top : 600px;
        padding : 10px
    }

    .choice{
        width : 400px;
        padding : 20px;
       
    }

    #progress{
        width : 580px;
        margin-top: 850px;
        margin-left: 40px;
    }
    

}
@media only screen and (min-width: 998px){
    #question p{
        margin-left: 130px;
        font-size: 3rem;
    }

    #qImg img{
        width : 350px;
        height : auto;
        margin-top: 110px;
        margin-left: 200px;
        
    }

    #choices{
        width : 400px;
        
        left : 600px;
        top : 125px;
        padding : 10px
    }

    #progress{
        width : 700px;
        margin-top: 380px;
        margin-left: 210px;
    }
    
}
